body {
  background-color: #a9a9cc;
}
.headerTitle {
  background: url("../images/gradient.png") repeat;
  display: inline-block;
  width: 100%;
}
.headerTitle h1 {
  display: inline-block;
  color: #C1BEFF;
  padding: 0.3em;
  margin: 0;
  font-family: Consolas, monospace;
  font-weight: bold;
}

.content {
  padding: 1em;
}
