<div style="padding:10px;">
  <p>Usage:</p>
  <pre class="code">
  &lt;dhx-layout
    dhx-layout-code=&quot;3L&quot;
    dhx-width=&quot;40&quot;
    dhx-height=&quot;8&quot;
    dhx-use-ems=&quot;true&quot;&gt;
    &lt;dhx-layout-pane
      dhx-text=&quot;Pane A&quot;&gt;
      &lt;div style=&quot;padding:10px;&quot;&gt;
        Enter some text here to verify data-binding between layout views works.
        &lt;input type=&quot;text&quot; ng-model=&quot;someText&quot;&gt;
      &lt;/div&gt;

    &lt;/dhx-layout-pane&gt;
    &lt;dhx-layout-pane
      dhx-text=&quot;Pane B&quot;
      dhx-collapsed-text=&quot;Pane B collapsed&quot;
      dhx-header=&quot;false&quot;&gt;
      &lt;p&gt;You've just input {{someText}}&lt;/p&gt;

    &lt;/dhx-layout-pane&gt;
    &lt;dhx-layout-pane
      dhx-text=&quot;Pane C&quot;
      dhx-collapsed-text=&quot;Pane C collapsed&quot;
      dhx-header=&quot;true&quot;&gt;
           Some other arbitrary content!
    &lt;/dhx-layout-pane&gt;
  &lt;/dhx-layout&gt;
</pre>

  <p>Directives code</p>

<pre class="code">
  &quot;use strict&quot;;
  /**
   * Created by Emanuil on 25/01/2016.
   *
   * Below is a list of configurations for dhxLayoutCode.
   * http://dhtmlx.com/docs/products/dhtmlxLayout/samples/02_conf/01_patterns.html
   *
   * The layout initialization API used below can be seen here:
   * http://docs.dhtmlx.com/layout__init.html
   */
  angular.module('dhxDirectives')
    .directive('dhxLayout', function factory() {
      var letters = &quot;abcdefg&quot;;
      return {
        restrict: 'E',
        require: 'dhxLayout',
        controller: function ($scope) {
          $scope.panes = [];
          this.getNextId = (function () {
            var letters = &quot;abcdefg&quot;;
            var current = -1;
            return function () {
              current++;
              return letters[current];
            };
          })();
          this.registerPane = function (pane) {
            $scope.panes.push(pane);
          };
        },
        scope: {
          dhxLayoutCode: &quot;@&quot;,
          dhxWidth: &quot;=&quot;, // Mandatory.
          dhxHeight: &quot;=&quot;, // Mandatory.
          dhxUseEms: &quot;=&quot; // Optional... If width and height is in ems. Px is default;
        },
        link: function (scope, element, attrs, layoutCtrl) {
          console.log('Link ' + attrs.dhxLayoutCode);
          console.log(element);
          console.log(scope);

          var dim = (scope.dhxUseEms ? 'em' : 'px');
          element.css('width', scope.dhxWidth + dim);
          element.css('height', scope.dhxHeight + dim);

          element.css('display', 'block'); // Mandatory

          //noinspection JSPotentiallyInvalidConstructorUsage
          var layout = new dhtmlXLayoutObject({
              parent: element[0],
              pattern: scope.dhxLayoutCode,
              //offsets: { //TODO: Add them as optionals
              //  top: 10,
              //  right: 10,
              //  bottom: 10,
              //  left: 10
              //},
              cells: scope
                .panes
                .map(function (paneObj) {
                  paneObj.cellConfig.id = layoutCtrl.getNextId();
                  console.log(paneObj.cellConfig);
                  return paneObj.cellConfig;
                })
            }
          );

          for (var i = 0; i &lt; scope.panes.length; i++) {
            layout.cells(letters[i]).appendObject(scope.panes[i].jqElem[0]);
          }
        }
      };
    })
    .directive('dhxLayoutPane', function factory() {
      return {
        restrict: 'E',
        require: '^dhxLayout',
        scope: {
          dhxText: '@',
          dhxCollapsedText: '@', // If this is omitted it becomes dhxText
          dhxHeader: '=', // Expression... since it is a boolean value
          dhxWidth: '@',  // These are optional... However when specified they
          dhxHeight: '@', // should not conflict with the layout width and height
          dhxCollapse: '=', // Expression... since it is a boolean value
          dhxFixSize: '@'
        },
        link: function (scope, element, attrs, layoutCtrl) {
          layoutCtrl.registerPane({
            jqElem: element.detach(),
            cellConfig: {
              text: scope.dhxText || &quot;&quot;,
              collapsed_text: scope.dhxCollapsedText || scope.dhxText || &quot;&quot;,
              header: scope.dhxHeader,
              width: scope.dhxWidth,
              height: scope.dhxHeight,
              collapse: scope.dhxCollapse == undefined ? false : scope.dhxCollapse,
              fix_size: scope.dhxFixSize
            }
          });
        }
      };
    });
</pre>
</div>
